
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/img1/favicon.png" type="image/png" />
    <title>Edustage Education</title>
    <!-- Bootstrap CSS -->
    <link href="~/css1/bootstrap.css" rel="stylesheet" />
    <link href="~/css1/flaticon.css" rel="stylesheet" />
    <link href="~/css1/themify-icons.css" rel="stylesheet" />
    <link href="~/vendors1/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/vendors1/nice-select/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- main css -->
    <link href="~/css1/style.css" rel="stylesheet" />
    <link href="~/css1/site.css" rel="stylesheet" asp-append-version="true" />
</head>


<body>

  

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js2/jquery-3.2.1.min.js"></script>
    <script src="~/js2/popper.js"></script>
    <script src="~/js2/bootstrap.min.js"></script>
    <script src="~/vendors1/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors1/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js2/owl-carousel-thumb.min.js"></script>
    <script src="~/js2/jquery.ajaxchimp.min.js"></script>
    <script src="~/js2/mail-script.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/js2/gmaps.min.js"></script>
    <script src="~/js2/theme.js"></script>

</body>
</html>