@{
    ViewData["Title"] = "Subject result Page";
    Layout = "_LayoutContactBook";
    var courseAll = ViewBag.courseAll as List<GetCourseAll>;
    var gradeAll = ViewBag.gradeAll as List<GetGradeAll>;
}
<div class="main-container">
    <div class="mb-30" style="width:auto; height:auto">
        <div class="pd-20 card-box w-auto h-auto">
            <h5 class="h4 text-blue mb-20">
                Point list
            </h5>
            <div class="tab row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label>Select Course</label>
                    <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="courseId"
                            href="javascript:;" onchange="subjectResult.showClass()">
                        @foreach (var cou in courseAll)
                        {
                            <option value="@cou.CourseId">@cou.CourseName</option>
                        }
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label>Select Grade</label>
                    <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="gradeId"
                            href="javascript:;" onchange="subjectResult.showClass()">
                        @foreach (var gra in gradeAll)
                        {
                            <option value="@gra.GradeId">@gra.GradeName</option>
                        }
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label>Select Class</label>
                    <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                            href="javascript:;" onchange="subjectResult.showSubject()" id="classId">
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">

                    <label>Select Semester</label>
                    <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                            href="javascript:;" onchange="subjectResult.showTablePoint()" id="semesterId">
                        <option value="1">1st</option>
                        <option value="2">2st</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label>Select Subject</label>
                    <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                            href="javascript:;" onchange="subjectResult.showTablePoint()" id="subjectId">
                    </select>

                </div>


            </div>
        </div>
        <div style="background-color:aliceblue" class="mt-2">
            <table class="table table-bordered" id="StudentInfoListTable">
                <thead>
                    <tr>
                        <th scope="col"rowspan="2">Id</th>
                        <th scope="col" colspan="2">Student Name</th>
                        <th scope="col" colspan="4">Điểm Miệng</th>
                        <th scope="col" colspan="4">Điểm 15 phút</th>
                        <th scope="col" colspan="2">Điểm 1 tiết</th>
                        <th scope="col" rowspan="2">Điểm học kỳ</th>
                        <th scope="col" rowspan="2">Average</th>
                    </tr>
                    <tr>
                        <th>Firt name</th>
                        <th>Last name</th>
                        <th scope="col">1st</th>
                        <th scope="col">2st</th>
                        <th class="text-center">3st</th>
                        <th class="text-center">4st</th>
                        <th class="text-center">1st</th>
                        <th class="text-center">2st</th>
                        <th class="text-center">3st</th>
                        <th class="text-center">4st</th>
                        <th class="text-center">1st</th>
                        <th class="text-center">2st</th>
                    </tr>
                </thead>
                <tbody id="studentPoints">
                </tbody>
            </table>

        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/subjectResult.js" asp-append-version="true"></script>
   >
}


