
@{
    ViewData["Title"] = "Student Page";
    Layout = "_LayoutStudent";
    var gradeAll = ViewBag.gradeAll as List<GetGradeAll>;
    var courseAll = ViewBag.courseAll as List<GetCourseAll>;
    var courseId = ViewBag.courseId != null ? int.Parse(ViewBag.courseId.ToString()) : 0;
}

<div class="main-container">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
        <div class="pd-20 card-box">
            <h5 class="h4 text-blue mb-20">
                Student List
            </h5>
            <div class="tab">
                <div class="row clearfix">
                    <div class="col-md-3 col-sm-3 mb-20">
                        <label><h4> Select Course</h4></label>
                        <select class="selectpicker form-control" data-size="5" data-style="btn-outline-secondary" multiple data-max-options="2"
                                id="multipleSelect" onchange="student.show()">
                            <optgroup label="Course">
                                @foreach (var cou in courseAll)
                                {
                                    <option value="@cou.CourseId">@cou.CourseName</option>
                                }
                            </optgroup>
                            <optgroup label="Grade">
                                @foreach (var gra in gradeAll)
                                {
                                    <option value="@gra.GradeId">@gra.GradeName</option>
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="pd-20 card-box">
                                <div class="tab">

                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">


                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="pd-20 card-box">

                                            <div class="tab">
                                                <ul class="nav nav-tabs" role="tablist" id="classRoom">
                                                </ul>
                                                <div>
                                                    <div class="pd-20">
                                                        <table class="table hover multiple-select-row data-table-export nowrap">
                                                            <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>FirstName </th>
                                                                    <th>LastName</th>
                                                                    <th>Gender</th>
                                                                    <th>DayOfBirth</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="listStudent">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/jquery-easing/jqBootstrapValidation.js"></script>
    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="~/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="~/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="~/src/plugins/datatables/js/vfs_fonts.js"></script>
    <!-- Datatable Setting js -->
    <script src="~/vendors/scripts/datatable-setting.js"></script>
    <script src="~/js/student.js" asp-append-version="true"></script>
}





