@{
    ViewData["Title"] = "Contact Book Page";
    Layout = "_LayoutContactBook";
    var courseAll = ViewBag.courseAll as List<GetCourseAll>;
    var gradeAll = ViewBag.gradeAll as List<GetGradeAll>;

}
<div class="main-container">

    <div class="pd-20 card-box" style="height:auto">
        <div class="tab row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Course</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="courseId"
                        href="javascript:;" onchange="contactBook.showClass()">
                    @foreach (var cou in courseAll)
                    {
                        <option value="@cou.CourseId">@cou.CourseName</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Grade</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="gradeId"
                        href="javascript:;" onchange="contactBook.showClass()">
                    @foreach (var gra in gradeAll)
                    {
                        <option value="@gra.GradeId">@gra.GradeName</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Class</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                        href="javascript:;" onchange="contactBook.showStudent()" id="classId">
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Student</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                        href="javascript:;" onchange="contactBook.showPoint()" id="studentId">
                </select>
            </div>

        </div>
    </div>

    <div class="pd-20 card-box mt-3" style="background-color:aliceblue">
        <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:aliceblue">
            <table class="table table-bordered text-center" id="tablePoint" style=" border-radius: 5px">
                <thead class="text-center">
                    <tr>
                        <th colspan="13" style="font-size:25px">Contact Book</th>
                    </tr>
                    <tr>
                        <th colspan="13" id="information">
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center" style="width:15%" rowspan="2">Subject</th>
                        <th class="text-center" colspan="4">Điểm Miệng</th>
                        <th class="text-center" colspan="4">Điểm 15 phút</th>
                        <th class="text-center"  colspan="2">Điểm 1 tiết</th>
                        <th class="text-center" rowspan="2">Điểm học kỳ</th>
                        <th class="text-center" rowspan="2">Average</th>
                    </tr>
                    <tr >
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                        <th class="text-center" >3st</th>
                        <th class="text-center" >4st</th>
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                        <th class="text-center" >3st</th>
                        <th class="text-center" >4st</th>
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                    </tr>
                </thead>
                <tbody id="point1st">
                </tbody>
                <thead>
                    <tr>
                        <th class="text-center"  colspan="12">Semester 1</thclass="text-center">
                        <th class="text-center"  id="avg1"></th>
                    </tr>
                    <tr>
                        <th class="text-center"  rowspan="2">Subject</th>
                        <th class="text-center"  colspan="4">Điểm Miệng</th>
                        <th class="text-center"  colspan="4">Điểm 15 phút</th>
                        <th class="text-center"  colspan="2">Điểm 1 tiết</th>
                        <th class="text-center"  rowspan="2">Điểm học kỳ</th>
                        <th class="text-center"  rowspan="2">Average</th>
                    </tr>
                    <tr>
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                        <th class="text-center" >3st</th>
                        <th class="text-center" >4st</th>
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                        <th class="text-center" >3st</th>
                        <th class="text-center" >4st</th>
                        <th class="text-center" >1st</th>
                        <th class="text-center" >2st</th>
                    </tr>
                </thead>
                <tbody id="point2st">
                </tbody>
                <thead>
                    <tr>
                        <th colspan="12">Semester 2</th>
                        <th id="avg2"></th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th colspan="12">Summarize the year</th>
                        <th id="semesterAvg"></th>
                    </tr>
                </thead>
            </table>
            <button type="button" class="btn btn-dark" onclick="tableToExcel('tablePoint', 'W3C Example Table')" value="Export to Excel">Export to Excel</button>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/contacBook.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
}

