@{
    ViewData["Title"] = "Contact Book Page";
    Layout = "_Layout Table";
    var courseAll = ViewBag.courseAll as List<GetCourseAll>;
    var gradeAll = ViewBag.gradeAll as List<GetGradeAll>;

}


<div class="main-container">

    <div class="pd-20 card-box" style="height:auto">
        <div class="tab row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Course</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="courseId"
                        href="javascript:;" onchange="contactBook.showClass()">
                    @foreach (var cou in courseAll)
                    {
                        <option value="@cou.CourseId">@cou.CourseName</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Grade</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;" id="gradeId"
                        href="javascript:;" onchange="contactBook.showClass()">
                    @foreach (var gra in gradeAll)
                    {
                        <option value="@gra.GradeId">@gra.GradeName</option>
                    }
                </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Select Class</label>
                <select class="custom-select2 form-control" name="state" style="width: 100%; height: 38px;"
                        href="javascript:;" onchange="contactBook.showStudent()" id="classId">
                </select>
            </div>

        </div>
    </div>
    <div class="pd-20 card-box" style="height:auto">
        <div class="tab row">
            <div class="col-lg-3 col-md-3 col-sm-3">

                <ul class="nav flex-column nav-pills vtabs" role="tablist" id="studentId">
                </ul>


            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="card-box mb-30">

                    <input type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">
                    <table id="testTable">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Name</th>
                                <th>Age</th>
                                <th>Office</th>
                                <th>Address</th>
                                <th>Start Date</th>
                                <th>Salart</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/js/contacBook.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var tableToExcel = (function () {
            var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
            return function (table, name) {
                if (!table.nodeType) table = document.getElementById(table)
                var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                window.location.href = uri + base64(format(template, ctx))
            }
        })()
    </script>
}

